<form #createForm="ngForm">
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Stack:</label>
    <div class="col-sm-9">
      <select name="stack"
        class="form-control"
        required
        (mousedown)="onSelectClick()"
        [(ngModel)]="data.stack"
        [disabled]="disabled">
        <option value="" *ngIf="loading">Loading...</option>
        <option [ngValue]="data.stack" *ngIf="data.stack && (!stacks || !stacks.length)">{{data.stack}}</option>
        <option *ngFor="let stack of stacks; trackBy: stack" [ngValue]="stack">{{stack}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Version:</label>
    <div class="col-sm-9">
      <input name="version"
        type="text"
        class="form-control"
        [(ngModel)]="data.version"
        [disabled]="disabled">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">TTL:</label>
    <div class="col-sm-9">
      <input name="ttl"
        type="text"
        class="form-control"
        [(ngModel)]="data.ttl"
        [disabled]="disabled">
    </div>
  </div>

  <div class="form-group row mb-0">
    <div class="col-sm-6">
      <div class="form-check">
        <label class="form-check-label">
          <input name="async"
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="data.async"
            [disabled]="true">
          Async provisioning
        </label>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-check">
        <label class="form-check-label">
          <input name="dbs"
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="data.dbs"
            [disabled]="disabled">
          Include DBS
        </label>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-check">
        <label class="form-check-label">
          <input name="onebb_mock_mode"
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="data.onebb_mock_mode"
            [disabled]="disabled">
          Mocked mode
        </label>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-check">
        <label class="form-check-label">
          <input name="enable_demo"
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="data.enable_demo"
            [disabled]="disabled">
          Enable demo
        </label>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-check">
        <label class="form-check-label">
          <input name="public_environment"
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="data.public_environment"
            [disabled]="disabled">
          Is public
        </label>
      </div>
    </div>
  </div>
</form>

<hr>

<p class="mb-3">You can save your provisioning configuration:</p>
<form class="form-inline"
  #confForm="ngForm"
  (submit)="saveConfiguration()">
  <div class="form-group row w-100">
    <div class="col-sm-10">
      <input name="configuration"
        type="text"
        class="form-control w-100"
        required
        [ngModel]="confName"
        maxlength="100"
        [disabled]="disabled">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-secondary"
      type="submit"
      [disabled]="!createForm.valid || !confForm.valid || disabled">
      Save
    </button>
    </div>
  </div>
</form>
