@import '~bootstrap/scss/variables';
@import '../../app.variables';

nav {
  padding-left: $list-group-item-padding-x;
  padding-right: $list-group-item-padding-x;
}

.btn,
.btn-group {
  margin-left: $spacing;
}
