<form #createForm="ngForm" class="row">
  <div class="col-12 mb-3"
    *ngFor="let field of configuration.fields; let i = index; trackBy: field?.name"
    [ngClass]="{
      'col-lg-6': !field.isCheckbox,
      'col-lg-3': field.isCheckbox,
      'col-sm-6': field.isCheckbox
    }">
    <div class="row" *ngIf="!field.isCheckbox">
      <label class="col-form-label col-sm-3">{{field.label}}:</label>
      <div class="col-sm-9">
        <select class="form-control"
          [name]="field.name"
          [(ngModel)]="field.value"
          [disabled]="disabled">
          <option *ngFor="let fieldValue of field.values; trackBy: fieldValue"
            [ngValue]="fieldValue">
            {{fieldValue}}
          </option>
        </select>
      </div>
    </div>

    <div *ngIf="field.isCheckbox">
      <div class="form-check">
        <label class="form-check-label">
          <ac-checkbox class="form-check-input"
            [name]="field.name"
            [(ngModel)]="field.value"
            [disabled]="disabled">
          </ac-checkbox>
          {{field.label}}
        </label>
      </div>
    </div>
  </div>
</form>

<hr class="mt-0">

<p class="mb-3">You can save your provisioning configuration:</p>
<form class="form-inline"
  #confForm="ngForm"
  (submit)="saveConfiguration()">
  <div class="form-group row w-100">
    <div class="col-sm-10">
      <input name="configuration"
        type="text"
        class="form-control w-100"
        required
        [ngModel]="confName"
        maxlength="100"
        [disabled]="disabled">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-secondary"
      type="submit"
      [disabled]="!createForm.valid || !confForm.valid">
      Save
    </button>
    </div>
  </div>
</form>
