<form #createForm="ngForm" class="row">
  <div class="col-12"
    *ngFor="let field of configuration.fields; let i = index; trackBy: field?.name"
    [ngClass]="{
      'mb-3': !field.isCheckbox,
      'col-lg-6': !field.isCheckbox,
      'col-lg-3': field.isCheckbox,
      'col-sm-6': field.isCheckbox
    }"
    [hidden]="!field.isEnabled && field.isCheckbox">
    <div class="row" *ngIf="!field.isCheckbox">
      <label class="col-form-label col-sm-5"
        [tooltip]="field.description"
        placement="bottom">
        {{field.label}}:
      </label>
      <div class="col-sm-7">
        <select class="form-control" [multiple]="field.isMultiple"
          *ngIf="!field.isText"
          [name]="field.name"
          [(ngModel)]="field.value"
          [disabled]="disabled">
          <option *ngFor="let fieldValue of field.values; trackBy: fieldValue"
            [ngValue]="fieldValue">
            {{fieldValue}}
          </option>
        </select>

        <input class="form-control"
          *ngIf="field.isText"
          [name]="field.name"
          [(ngModel)]="field.value"
          [disabled]="disabled">
      </div>
    </div>

    <div *ngIf="field.isCheckbox">
      <div class="form-check">
        <label class="form-check-label"
          [tooltip]="field.description"
          placement="bottom">
          <ac-checkbox class="form-check-input"
            [name]="field.name"
            [(ngModel)]="field.value"
            [disabled]="disabled">
          </ac-checkbox>
          {{field.label}}
        </label>
      </div>
    </div>
  </div>
</form>

<hr>

<p class="mb-3">You can save your provisioning configuration:</p>
<form class="d-flex"
  #confForm="ngForm"
  (submit)="saveConfiguration()">
    <input name="configuration"
      type="text"
      class="form-control mr-3"
      required
      [ngModel]="confName"
      maxlength="100"
      [disabled]="disabled">
    <button class="btn btn-success"
      type="submit"
      [disabled]="!createForm.valid || !confForm.valid">
      Save
    </button>
</form>
