<form #userForm="ngForm">
  <div ngModelGroup="user">
    <div class="form-group row" [ngClass]="getFormGroupClasses('email')">
      <label class="col-sm-3 col-form-label">Email:</label>
      <div class="col-sm-9">
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="data.user.email"
          #email="ngModel"
          required
          pattern="[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?"
          [ngClass]="getFormControlClasses('email')"
          [disabled]="disabled">
        <div class="form-control-feedback" [hidden]="!isShowError(email) || !email.errors.required">
          Email is required
        </div>
        <div class="form-control-feedback" [hidden]="!isShowError(email) || !email.errors.pattern">
          Email format is incorrect
        </div>
      </div>
    </div>
    <div class="form-group row" [ngClass]="getFormGroupClasses('password')">
      <label class="col-sm-3 col-form-label">Password:</label>
      <div class="col-sm-9">
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="data.user.password"
          #password="ngModel"
          required
          [ngClass]="getFormControlClasses('password')"
          [disabled]="disabled">
        <div class="form-control-feedback" [hidden]="!isShowError(password)">
          Password is required
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row mb-0" *ngIf="showSaveCheckbox">
    <div class="col-sm-9 offset-sm-3">
      <div class="form-check">
        <label class="form-check-label">
          <input
            type="checkbox"
            class="form-check-input"
            name="saveCredentials"
            [(ngModel)]="data.save"
            [disabled]="disabled">
          Save credentials
        </label>
      </div>
    </div>
  </div>
</form>
