<div
  class="modal fade"
  bsModal
  #provisionModal="bs-modal"
  [config]="{backdrop: 'static'}"
  tabindex="-1"
  role="dialog">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Provision new environment</h4>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-info"
          role="progressbar"
          *ngIf="provisioning"></div>
      </div>
      <div class="modal-body" [ngSwitch]="isFormShown">
        <form #provisionForm="ngForm" *ngSwitchCase="false">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Stack:</label>
            <div class="col-sm-9">
              <select
                class="form-control"
                name="stack"
                required
                [(ngModel)]="provisionData.stack"
                [disabled]="provisioning">
                <option value="" *ngIf="loadingStacks">Loading...</option>
                <option *ngFor="let stack of stacks; trackBy: stack" value="{{stack}}">{{stack}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-0">
            <div class="col-sm-9 offset-sm-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="async"
                    [(ngModel)]="provisionData.async"
                    [disabled]="true || provisioning">
                  Async provisioning
                </label>
              </div>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-sm-9 offset-sm-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="dbs"
                    [(ngModel)]="provisionData.dbs"
                    [disabled]="provisioning">
                  Include DBS
                </label>
              </div>
            </div>
          </div>

          <div class="form-group row mb-0">
            <div class="col-sm-9 offset-sm-3">
              <div class="form-check">
                <label class="form-check-label">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    name="onebb_mock_mode"
                    [(ngModel)]="provisionData.onebb_mock_mode"
                    [disabled]="provisioning">
                  Include mocked mode
                </label>
              </div>
            </div>
          </div>
        </form>
        <span *ngSwitchDefault>
          <p class="mb-3">This action requires user credentials:</p>
          <ac-credentials-form
            #userForm
            [saveCheckbox]="true"
            [disabled]="provisioning"
            [(data)]="formData"
            (isValid)="isFormValid = $event">
          </ac-credentials-form>
        </span>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="provisionModal.hide()"
          [disabled]="provisioning">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="isProvisionDisabled"
          (click)="isFormShown ? provisionEnvironmentAndSaveUser() : provisionEnvironment()">
          Provision
        </button>
      </div>
    </div>
  </div>
</div>
