<ac-modal #modal
  [header]="header"
  [in-progress]="inProgress"
  (action)="isFormShown ? doAction() : tryToDoAction()"
  [action-text]="actionBtnText"
  [action-disabled]="isActionBtnDisabled"
  (cancel)="isFormShown ? hideForm() : null"
  [cancel-text]="isFormShown ? 'Back' : null">
  <ng-content *ngIf="!isFormShown"></ng-content>
  <p class="mb-3" *ngIf="isFormShown">This action requires user credentials:</p>
  <ac-user-form #userForm
    *ngIf="isFormShown"
    [disabled]="inProgress"
    [(data)]="formData"
    showSaveCheckbox="true">
  </ac-user-form>
</ac-modal>
