@import '~bootstrap/scss/_variables.scss';

$loader-size: 60px;
$border-width: 6px;

:host {
  border: $border-width solid $gray-lighter;
  border-top: $border-width solid $brand-primary;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
  animation: spin 1s linear infinite;
  margin-top: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
