:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

ac-header {
    flex-shrink: 0;
}

ac-loader {
  margin-top: 20px;
}

.body{
  flex-grow: 1;
  overflow: auto;
  min-height: 2em;
}
