<div class="w-100 h-100">
  <nav class="sidebar h-100">
    <ul class="nav flex-column">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['']">
          <i [acIcon]="'toc'"></i>
          <span class="hidden-sm-down">Environments</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['logs']">
          <i [acIcon]="'note'"></i>
          <span class="hidden-sm-down">Logs</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['settings']">
          <i [acIcon]="'settings'"></i>
          <span class="hidden-sm-down">Settings</span>
        </a>
      </li>
    </ul>
    <div class="app-version w-100">{{version}}</div>
  </nav>
  <main class="h-100">
    <router-outlet></router-outlet>
  </main>
</div>

 <ac-notifications class="fixed-bottom"></ac-notifications>

<ac-modal #baseUrlDialog
  header="Autoconfig API URL"
  disableCancel="false"
  (action)="urlForm.ngSubmit.emit()"
  action-text="Save"
  [action-disabled]="!urlForm.valid">
  <p class="mb-3">Please provide URL for Autoconfig API:</p>
  <form #urlForm="ngForm" (ngSubmit)="saveBaseUrl(urlForm.value.url)">
    <div class="form-group row"
      [ngClass]="{ 'has-success': urlForm.valid, 'has-danger': !urlForm.valid && !urlForm.pristine && urlForm.touched }">
      <label class="col-sm-3 col-form-label">URL:</label>
      <div class="col-sm-9">
        <input type="url"
          class="form-control"
          name="url"
          required
          pattern="(http|https)?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
          ngModel
          #url="ngModel"
          [ngClass]="{ 'form-control-success': urlForm.valid, 'form-control-danger': !urlForm.valid && !urlForm.pristine && urlForm.touched }">
        <div class="form-control-feedback" [hidden]="urlForm.valid || urlForm.pristine || !urlForm.touched || !url.errors.required">
          URL is required
        </div>
        <div class="form-control-feedback" [hidden]="urlForm.valid || urlForm.pristine || !urlForm.touched || !url.errors.pattern">
          URL format is incorrect
        </div>
      </div>
    </div>
  </form>
</ac-modal>
