<ul class="list-group">
  <li class="list-group-item"
    *ngFor="let environment of environments; trackBy: environment?.name">
    <!-- Environment row -->
    <div class="container-fluid px-0 environment-container">
      <div class="row">
        <div class="col col-6 col-sm-4 col-md-5 text-truncate">
          <h5 class="env-name" [title]="environment.name">{{environment.name}}</h5>
          <small class="text-muted">{{environment.owner.name}} <{{environment.owner.email}}></small>
        </div>
        <div class="col col-6 col-sm-5 col-md-5">
          Expires at {{environment.expire_at | date: "MMM d, HH:MM:s"}}
          <div>
            <span class="badge badge-primary badge-pill" [title]="environment.stack">{{environment.stack}}</span>
            <span class="badge badge-success badge-pill" *ngIf="environment.public">public</span>
            <span class="badge badge-info badge-pill" *ngIf="environment.config.keep==='yes'">keep</span>
          </div>
        </div>
        <div class="col col-12 col-sm-3 col-md-2 offset-sm-0 row-buttons">
          <button
            class="btn btn-outline-danger btn-sm float-right"
            title="Delete"
            (click)="showDeleteConfirmation(environment.name)">
            <i [acIcon]="'delete forever'"></i>
          </button>
          <a
            href="http://{{ environment.name }}-editorial.backbase.dev:9080/portalserver/"
            target="__blank"
            class="btn btn-outline-info btn-sm float-right"
            title="Navigate to environment"
            role="button">
            <i [acIcon]="'open in browser'"></i>
          </a>
        </div>
      </div>
    </div>
  </li>
</ul>

<div
  class="modal fade"
  bsModal
  #deleteModal="bs-modal"
  [config]="{backdrop: 'static'}"
  tabindex="-1"
  role="dialog">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete environment</h4>
      </div>
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated bg-info"
          role="progressbar"
          *ngIf="deleting"></div>
      </div>
      <div class="modal-body" [ngSwitch]="isDeleteFormShown">
        <span *ngSwitchCase="false">Are you sure you want to delete <i>{{environmentToDelete}}</i>?</span>
        <span *ngSwitchDefault>
          <p class="mb-3">This action requires user credentials:</p>
          <ac-credentials-form
            #deleteForm
            [saveCheckbox]="true"
            [(data)]="formData"
            (isValid)="isDeleteFormValid = $event">
          </ac-credentials-form>
        </span>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="deleteModal.hide()"
          [disabled]="deleting">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          [disabled]="isDeleteFormShown && !isDeleteFormValid || deleting"
          (click)="isDeleteFormShown ? deleteEnvironmentAndSaveUser() : deleteEnvironment()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
