<ac-header></ac-header>

<ac-loader class="align-self-center mt-5" *ngIf="loading"></ac-loader>

<span class="text-muted mr-auto ml-auto mt-5" *ngIf="(!environments || !environments.length) && !loading">No environments</span>

<div class="list-wrapper">
  <ul class="list-group" *ngIf="!loading">
    <li class="list-group-item"
      *ngFor="let environment of environments; trackBy: environment?.name">
      <ac-environment [environment]="environment"
        (delete)="showDeleteConfirmation($event)"
        (changeTTL)="showTTLDialog($event)"></ac-environment>
    </li>
  </ul>
</div>

<ac-credentials-modal #deleteDialog
  header="Delete environment"
  action-text="Delete"
  action-style="danger"
  (action)="deleteEnvironment($event)"
  (cancel)="deleteDialog.hide()"
  [in-progress]="inProgress">
  Are you sure you want to delete environment <i>{{selectedEnvironment}}</i>?
</ac-credentials-modal>

<ac-credentials-modal #ttlDialog
  header="Update environment TTL"
  action-text="Update"
  (action)="updateEnvironment($event, ttl.value)"
  (cancel)="ttlDialog.hide()"
  [in-progress]="inProgress"
  [action-disabled]="ttlForm.pristine || !ttlForm.valid">
  <p class="mb-3">Select new TTL for environment <i>{{selectedEnvironment}}</i>:</p>
  <form #ttlForm="ngForm">
    <div class="form-group row"
      [ngClass]="{ 'has-success': ttlForm.valid && ttlForm.touched, 'has-danger': !ttlForm.valid && ttlForm.touched }">
      <label class="col-sm-3 col-form-label">TTL:</label>
      <div class="col-sm-9">
        <input type="text"
          class="form-control"
          name="ttl"
          pattern="^[0-9]+(d|h){1}$"
          required
          [ngModel]="selectedEnvironmentTTL"
          #ttl="ngModel"
          [ngClass]="{ 'form-control-success': ttlForm.valid && ttlForm.touched, 'form-control-danger': !ttlForm.valid && ttlForm.touched }">
        <div class="form-control-feedback"
          [hidden]="ttlForm.valid || !ttlForm.touched || !ttl.errors.required">Value is required</div>
        <div class="form-control-feedback"
          [hidden]="ttlForm.valid || !ttlForm.touched || !ttl.errors.pattern">TTL format is incorrect</div>
      </div>
    </div>
  </form>
</ac-credentials-modal>
