@import '~bootstrap/scss/variables';
@import '../../app.variables';

header {
  padding: $list-group-item-padding-y $list-group-item-padding-x;
  min-height: $header-height;
  background-color: #f1f1f1;
}
