<header class="d-flex flex-wrap align-items-center justify-content-end">
  <div class="btn-group" dropdown>
    <button
      class="btn btn-primary btn-sm"
      title="Provision new environment"
      (click)="createDialog.show()">
      <i [acIcon]="'add'"></i>
    </button>
    <button type="button"
      class="btn btn-primary btn-sm dropdown-toggle-split"
      dropdownToggle
      *ngIf="provisionConfigNames.length">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu-right" dropdownMenu role="menu" *ngIf="provisionConfigNames.length">
      <li class="dropdown-header">Provision from configuration</li>
      <li *ngFor="let config of provisionConfigNames; trackBy: config">
        <a class="dropdown-item" href="#" (click)="configurationName = config; createConfiguredEnvironment()">{{config}}</a>
      </li>
    </ul>
  </div>

  <button
    class="btn btn-primary btn-sm"
    title="Reload environments list"
    (click)="reloadEnvironments()"
    [disabled]="loading">
    <i [acIcon]="'refresh'"></i>
  </button>
</header>

<ac-credentials-modal #createDialog
  header="Provision new environment"
  [in-progress]="creating"
  large="true"
  (action)="createEnvironment($event, createForm.value)"
  (cancel)="createDialog.hide()"
  action-text="Provision"
  [action-disabled]="!createForm?.isValid">
  <ac-create-form #createForm
    [(data)]="createFormData"
    [configuration-name]="configurationName"
    [disabled]="creating">
  </ac-create-form>
</ac-credentials-modal>
