<header class="d-flex flex-wrap align-items-start justify-content-end">
  <div class="btn-group mr-2" dropdown>
    <button class="btn btn-primary btn-sm"
      title="Filter environments"
      [ngClass]="{ 'active': filterActive }"
      (click)="filters.toggle()">
      <i [acIcon]="'filter list'"></i>
    </button>
    <button class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split"
      title="Filter environments"
      dropdownToggle
      [ngClass]="{ 'active': filterActive }">
    </button>
    <ul class="dropdown-menu" *dropdownMenu role="menu">
      <li *ngIf="userEmail">
        <a class="dropdown-item" (click)="addEmailFilter()">Show my environments</a>
      </li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" (click)="clearFilters()">Clear all filters</a></li>
    </ul>
  </div>

   <div class="btn-group mr-auto" dropdown>
    <button class="btn btn-primary btn-sm dropdown-toggle"
      dropdownToggle
      title="Sort environments">
      <i [acIcon]="'sort'"></i>
    </button>
    <ul class="dropdown-menu" *dropdownMenu role="menu">
      <li class="dropdown-header">Sort by</li>
      <li *ngFor="let conf of sortConfigs; trackBy: conf?.field">
        <a class="dropdown-item" (click)="sortEnvironments(conf.field)">
          {{conf.name}}
          <i *ngIf="conf.field === activeSortField"
            [acIcon]="ascendingSorting ? 'arrow drop down' : 'arrow drop up'"></i>
        </a>
      </li>
    </ul>
  </div> 

  <div class="btn-group ml-2" dropdown placement="bottom right">
    <button class="btn btn-primary btn-sm"
      title="Provision new environment"
      (click)="createDialog.show()">
      <i [acIcon]="'add'"></i>
    </button>
    <button type="button"
      class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split"
      dropdownToggle
      *ngIf="provisionConfigNames.length">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu role="menu">
      <li class="dropdown-header">Provision from configuration</li>
      <li *ngFor="let config of provisionConfigNames; trackBy: config">
        <a class="dropdown-item" href="#" (click)="configurationName = config; createConfiguredEnvironment()">{{config}}</a>
      </li>
    </ul>
  </div>

  <button class="btn btn-primary btn-sm ml-2"
    title="Reload environments list"
    (click)="reloadEnvironments()"
    [disabled]="loading">
    <i [acIcon]="'refresh'"></i>
  </button>

  <ac-filters-bar class="w-100" #filters="bs-collapse" [collapse]="true"></ac-filters-bar>
</header>

<ac-credentials-modal #createDialog
  header="Provision new environment"
  [in-progress]="creating"
  large="true"
  (action)="createEnvironment($event, createForm.value)"
  (cancel)="createDialog.hide()"
  action-text="Provision"
  [action-disabled]="!createForm?.isValid">
  <ac-create-form #createForm
    [(data)]="createFormData"
    [configuration-name]="configurationName"
    [disabled]="creating">
  </ac-create-form>
</ac-credentials-modal>
