<header class="d-flex flex-nowrap align-items-center form-inline">
  <span class="hidden-xs-down mr-2">Environment:</span>
  <select name="environment"
    class="mr-auto form-control"
    (mousedown)="onSelectClick()"
    [ngModel]="envName"
    (ngModelChange)="onChange($event)"
    [disabled]="disabled">
    <option value="" disabled *ngIf="loadingEnv">Loading...</option>
    <option [value]="envName" *ngIf="envName && !environments.length">{{envName}}</option>
    <option *ngFor="let env of environments; trackBy: env" [value]="env">{{env}}</option>
  </select>

  <button
    class="btn btn-primary btn-sm ml-2"
    title="Reload environment logs"
    (click)="loadLogs()"
    [disabled]="disabled || !envName">
    <i [acIcon]="'refresh'"></i>
  </button>
</header>
