<div class="row">
  <div class="col-9 col-sm-10 col-md-11">
    <div class="row">
      <div class="col col-sm-7 col-lg-5 col-xl-4">
        <h5 class="env-name" [title]="environment.name">
          {{environment.name}}
          <ac-status [status]="environment.status"></ac-status>
        </h5>
        <small class="text-muted">{{environment.owner.name}} <{{environment.owner.email}}></small>
      </div>
      <div class="col col-sm-5 col-lg-3 col-xl-4">
        <span [tooltip]="environment.expire_at | date: 'MMM d, HH:MM:ss'" placement="bottom">{{environment.expire_at | expires }}</span>
        <div>
          <span class="badge badge-primary badge-pill">{{environment.stack}}</span>
          <span class="badge badge-success badge-pill" *ngIf="environment.public">public</span>
          <span class="badge badge-info badge-pill" *ngIf="environment.config.keep==='yes'">keep</span>
        </div>
      </div>
      <div class="col col-lg-4 col-xl-4 hidden-md-down">
        <span class="badge badge-pill badge-info">version | {{environment.config.version}}</span>
        <span class="badge badge-pill badge-info">server | {{environment.config|versionedProperty:'server'}}</span>
        <span class="badge badge-pill badge-info">db | {{environment.config|versionedProperty:'db'}}</span>
        <span class="badge badge-pill badge-info">java | {{environment.config.java}}</span>
        <span class="badge badge-pill badge-info">ttl | {{environment.config.ttl}}</span>
        <span class="badge badge-pill badge-warning" *ngIf="environment.config.proxy === 'yes'">proxy</span>
      </div>
    </div>
  </div>
  <div class="col-3 col-sm-2 col-md-1">
    <div class="btn-group float-sm-right" dropdown placement="bottom right">
      <button class="btn btn-outline-info btn-sm dropdown-toggle"
        title="Environment settings"
        role="button"
        dropdownToggle>
        <i [acIcon]="'settings'"></i>
      </button>

      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
        <li class="dropdown-header" *ngIf="urls.length">Navigate to</li>
        <li *ngFor="let url of urls; trackBy: url?.name">
          <a [href]="url.value.replace('{environmentName}', environment.name)"
          target="__blank"
          class="dropdown-item">{{url.name}}</a>
        </li>
        <div class="dropdown-divider" *ngIf="urls.length"></div>
        <li><a class="dropdown-item" [routerLink]="['logs', environment.name]">View Logs</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" (click)="onChangeTTLClick()">Change TTL</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item text-danger" (click)="onDeleteClick()">Delete environment</a></li>
      </ul>
    </div>
  </div>
</div>
